


    <link rel="stylesheet" type="text/css" href="assets\css\style.css">

<body background="assets\images\spiration-light.png" color=aquamarine>
    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">
                <strong>Welcome to Yard Sale</strong>
            </h3>
            <br>
        </div>
        <button class="btn btn-default" data-toggle="modal" data-target="#signIn" id="createAccount">Create Account</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#signIn" id="signIn">Sign In</button>
    </div>

    <div id="home" "new-user-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark font-weight-bold">Sign Up!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    <form id="newclient-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-dark">Email address</label>
                            <input type="email" class="form-control" id="newemailInput" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-dark">Password (Must be at Least 6 Characters)</label>
                            <input type="password" class="form-control" id="newpasswordInput" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary" id='signupUser'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="return-user-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark font-weight-bold">Welcome Back!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    <form id="returnclient-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="oldEmail" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="oldPassword" placeholder="Password">
                        </div>
                       <button type="submit" class="btn btn-primary" id='signinUser'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <img src="assets\images\yardsale7.jpg">
    </div>
    <div class="form-group-buy">
        <form class="navbar-form navbar-center" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" id="searchInput">
            </div>
           <a href="/buy"><button type="submit" class="btn btn-default" id="searchSubmit">Submit</button></a> 
        </form>
    </div>
    <script src='assets/js/yardsale.js'></script>
</body>

