.jumbotron {
    background-color: bisque;
}
.form-inline {
    position: relative;
    align-content: center;
}
h3 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 5px lightcoral;
}
.btn, .btn-default {
    background-color: lavender;
}
#createAccount {
    margin-left: 400px;
}
.navbar {
    background-color: bisque;
}
#buyBtn {
    margin-left: 125px;
    background-color: lavender;
    width: 70px;
}
#sellBtn {
    background-color: lavender;
    width: 70px;
}
#signinBtn, #submitBtn {
    background-color: lavender;
}
.postStuff {
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 5px lightcoral;
    margin-left: 50px;
}
.sellStuff {
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 5px lightcoral;
    margin-left: 100px;
}
#sellersearch {
    width: 450px;
    height: 50px;
    text-align: center;
}
.form-group-sell {
    width: 800px;
    height: 600px;
    text-align: center;
    margin-left: 275px;
    
}
#uploadBtn {
    font-style: italic;
    font-weight: bold;
    width: 150px;
    background-color: rgb(231, 230, 250);
    text-shadow: 2px 2px 5px lightgray;
}
